/* Screenshot va nusxalashni bloklash */

/* 1. Barcha elementlarni select qilishni bloklash */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/* 2. Rasmlarni drag qilishni bloklash */
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
    max-width: 100%;
    height: auto;
}

/* 3. Rasmlarni kattalashtirishni bloklash */
img:hover {
    transform: none !important;
    cursor: default !important;
}

/* 4. Zoom bloklash */
body {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

/* 5. Print qilishda ko'rinmaydigan qilish */
@media print {
    body {
        display: none !important;
    }
}

/* 6. Screenshot overlay */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 9998;
}